.box {
  position: absolute;
  left: -3px;
  top: 44px;
  width: 450px;
  border-radius: 3px;
  border: 3px solid #2a5a5b;
  background-color: white;
  overflow: auto;
  zoom: 1;
}

.subtitle {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-width: 1px 0;
  font-size: 16px;
}

.allLink {
  float: right;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #51aaaa;
}

.allLink:hover {
  text-decoration: underline;
}

.topCategories {
  margin: 10px;
}

.otherCategories {
  height: 100%;
  max-height: 110px;
  padding-right: 8px;
  margin: 10px 2px 10px 10px;
  overflow-y: scroll;
}

.category {
  display: inline-block;
  width: 50%;
  padding-left: 16px;
  margin-top: 10px;
  vertical-align: top;
}

.category:nth-child(1),
.category:nth-child(2) {
  margin: 0;
}

.category:nth-child(odd) {
  padding-right: 10px;
}

.category:nth-child(even) {
  padding-left: 20px;
}

.label {
  display: block;
  font-size: 13px;
  line-height: 1.4;
}

.checkbox {
  margin-right: 5px;
  margin-left: -16px;
}

