.form {
  position: relative;
}

.submit {
  padding: 12px 20px;
  margin-top: 3px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  line-height: 1.4;
  font-weight: bold;
  color: #2a2a38;
  background-color: #e3f000;
  cursor: pointer;
  transition-duration: .3s;
  outline: none;
}

.submit:hover {
  background-color: color(#e3f000 blackness(20%))
}

.results {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
