.checkbox {
  display: none;
}

.list {
  border: 1px solid #dfdfdf;
  background-color: white;
  width: calc(100% - 6px);
  margin-left: 3px;
}

.location {
  border: 1px solid #dfdfdf;
  border-width: 1px 0;
  line-height: 32px;
  font-size: 13px;
}

.label {
  padding-left: 5px;
  display: block;
  cursor: pointer;
  transition-duration: .3s;
}

.label:hover {
  background-color: rgba(223, 223, 223, .5);
}
