@import '../colors.css';

.checkbox {
  display: none;
}

.list {
  width: calc(100% - 6px);
  margin-left: 3px;
  border: 1px solid var(--alto);
  background-color: var(--white);
}

.location {
  border: 1px solid var(--alto);
  border-width: 0 0 1px 0;
  font-size: 13px;
  line-height: 32px;
}

.selectedLocation {
  composes: location;
  background-color: rgba(223, 223, 223, .5);
}

.location:hover {
  background-color: rgba(223, 223, 223, .5);
}

.label {
  display: block;
  padding-left: 5px;
  cursor: pointer;
  transition-duration: .3s;
}
