.categoriesInput {
  position: relative;
  float: left;
  width: 450px;
  margin-right: 10px;
  border: 3px solid rgba(42, 90, 91, .8);
  border-radius: 3px;
}

.input {
  float: left;
  width: 50%;
  padding: 13px;
  border: none;
  outline: none;
}

.select {
  float: left;
  width: 50%;
  padding: 13px 25px 13px 13px;
  background-color: #ebebeb;
  color: grey;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select:after {
  content: '';
  position: absolute;
  top: 19px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid grey;
}