:root {
  --chartreuseYellow: #e3f000;
  --white:            #fff;
  --alto:             #dfdfdf;
  --gallery:          #f0f0f0;
  --spectra:          #2a5a5b;
  --grey:             #7e7e7e;
  --smaltBlue:        #51898b;
  --chelseaCucumber:  #76b356;
}